extends ../layout

block content
    div.div_block_login
        div
           span.
                帳號(E-mail)
        div
           input(
           type='text'
           id='ac'
           name='ac'
<<<<<<< HEAD
           placeholder='信箱或帳號..master'
=======
<<<<<<< HEAD
           placeholder='信箱或帳號...master'
=======
           placeholder='請輸入信箱或帳號'
>>>>>>> 0057037cd2f4168ec1e95be4677f3860138a04e1
>>>>>>> e5c7af34ed691a5b66c9e713d6526a062f6c7715
           ) 
        div
            span.
                密碼
        div
           input(
           type='text'
           id='pw'
           name='pw'
<<<<<<< HEAD
           placeholder='密碼..'
=======
<<<<<<< HEAD
           placeholder='密碼'
=======
           placeholder='請輸入密碼'
>>>>>>> 0057037cd2f4168ec1e95be4677f3860138a04e1
>>>>>>> 6d0519217cc50c9f6f69f0de63810c9229799fdd
           )
        div.dd
            a(class='forgotpw', href='/member/forgot') 忘記密碼
        div.div-login
            button(type="submit" id='submit' onClick="javascript:void(0);location.href='/home/'")登入
        div 
            a(class='newaccount', href='/member/new') 註冊新帳號

        div.row
            div.span4
                |...
            div.span3.offset2
                |...

            
            


